/* Common classes and global changes */

body {
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

hr {
    border: 1px solid #032535;
}

* {
    user-select: none;
    outline: none;
}

.icon {
    width: 50px;
    transform: scale(1);
    transition: 0.15s;
    border: 2px solid transparent;
}

.icon:hover, .icon:focus {
    transform: scale(1.25);
    border: 2px solid #ff5858;
    border-radius: 50%;
}

.hide {
    visibility: hidden;
}

.offscreen * {
    display: none;
}

.logo {
    margin: 10px;
    width: 70px;
    position: absolute;
}

.button {
    background: none;
    cursor: pointer;
    border: 1px solid #2f7091;
    transition: 0.25s;
    border-radius: 3px;
}

.button:hover, .button:focus {
    background-color: #2f7091;
    color: #abfffb;
}

.container {
    border: 2px solid #032535;
    border-radius: 10px;
}

/* Text Stuff */

.text {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.1rem;
}

.text:hover {
    text-decoration: none;
}

.bold {
    font-weight: 600;
}

.red-text {
    color: #ff5858;
}

.purple-text {
    color: #032535;
}

/* Background classes */

.blue-bg {
    background-color: #abfffb;
}

.purple-bg {
    background-color: #032535;
}

/* for Accessibility */

.sr-only {
    position: absolute;
    height: 0;
    width: 0;
    font-size: 0rem;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Navigation bar stuff */

#navbar {
    position: absolute;
    top: 10px;
    right: 20px;
}

.nav-item {
    display: inline-block;
    margin: 15px 5px;
    padding: 6px 4px;
    border: none;
    transition: 0.2s;
    background: none;
    border-top: 0 solid #ff5858;
    border-bottom: 0 solid #ff5858;
    cursor: pointer;
}

.nav-item:hover, .nav-item:focus {
    color: #2f7091;
    padding: 1px 4px;
    border-top: 5px solid #2f7091;
    border-bottom: 5px solid #2f7091;
}

/* /* Title stuff */

#title-bg {
    position: relative;
    overflow: hidden;
    z-index: -1;
}

#title-p {
    font-family: 'Roboto Mono';
    font-size: 1.25rem;
}

.title-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-shadow {
    width: fit-content;
    height: fit-content;
    /*requires defined width and height to find centered text position in jquery*/
    margin: 0;
    padding: 0;
    cursor: default;
    font-size: 5.5rem;
    font-family: 'Lobster';
}

.text-shadow * {
    position: relative;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
}

/* Classes used by all sections */

.hidden-section {
    position: absolute;
    bottom: -100%;
    transition: 0.5s;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    visibility: hidden;
}

.hidden-section div {
    margin: 10px;
    visibility: visible;
}

/* Skills section */

#skills-section {
    width: 25%;
    display: grid;
}

.skill {
    text-align: center;
    display: flex;
}

.skill-description {
    position: absolute;
}

/* About section */

#about-section {
    height: max-content;
    transform: translateY(-50%);
    text-align: center;
}

#about-section div {
    width: 50%;
    margin: 0 auto;
}

/* Contact section */

.contact-container * {
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contact-info {
    display: block;
}

/* Media queries */

@media (max-width: 1000px) {
    #about-section div {
        width: 90%;
    }
}

@media only screen and (max-width: 450px) {
    .contact-info {
        display: none;
    }
}
